/* just to make sure file is non empty */
body
{
	margin:0px;
	padding:0px;
	color:black;
    background-color: #e9f6ff;
	font-family: Raleway, sans-serif; /* till you get Raleway */
}
.navbar
{
	background-color: #09ce9b;
    border-bottom: 1.5px solid #6b7d30;
	padding:8px;
	align-items: center;
	margin-top: 0px;
	padding-left:7.5%; /* (100-85)/2, because container is 85 and we want the links to start with the container border. */
}
.navbar a
{
	padding-right: 10px;
	margin: auto;
	text-align: center;
	text-decoration: none;
	color:black;
}
.navbar right-align
{
	align-self: right;
	align-content: right;
}
.container
{
	width:85%;
	margin:auto;
	padding-top:7.5%;
	align-content: center;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
.level
{
	border: 1px solid black;
	width:85%;
	margin-left:auto;
	margin-right:auto;
	padding-top:20px;
	text-align:center;
}
.link a
{
	text-decoration: none;
	color:#872121;
	padding-right: 10px;
}
.link a:hover
{
	color:blue;
}
/* sign up form table */
.signup table
{
    margin:auto;
}
.signup td,.signup tr, .signup th,.signup table
{
    border: 1px black solid;
}
