{% extends 'base.html' %}
{% block 'content' %}
Hey Shreeja :) <br>

I know things have been difficult lately, but I just wanted to let you know that I love you. You're an incredible amazing person. I know I fuck things up, and I Know I'm not the best version of who I could be, but I'm getting there, and I built this to show you that I care. To show you that I can put in effort, that I <i> want </i> to put in effort, for you. <br>

I won't lie. Things have changed. You hurt me so much nowadays and I think you don't even notice. I'm too scared to tell you because I'm scared we'll just fight again. The relationship doesn't feel the way it used to. <br>
But at the end of it all, I think back to how I felt standing next to you on the skywalk, sitting next to you on the basketball court, inside you in the room we weren't supposed to be in - and I know that it's worth it. <br>

I love you. <br>

Amor vincit omnia.
{% endblock %}
