{% extends 'base.html' %}
{% block 'content' %}
Hey Shreeja :) <br>

I know things have been difficult lately, but I just wanted to let you know that I love you. You're an incredible amazing person. I know I fuck things up, and I Know I'm not the best version of who I could be, but I'm getting there, and I built this to show you that I care. To show you that I can put in effort, that I <i> want </i> to put in effort, for you. <br>

I won't lie. Things have changed. You hurt me so much nowadays and I think you don't even notice. I'm too scared to tell you because I'm scared we'll just fight again. The relationship doesn't feel the way it used to. <br>
But at the end of it all, I think back to how I felt standing next to you on the skywalk, sitting next to you on the basketball court, inside you in the room we weren't supposed to be in - and I know that it's worth it. <br>
I wanted to bring you back to some of the memories I'm so in love with. I wanted to bring you back to the moments spent working together in our rooms, lying in each others arms, thinking about each other, falling in love with each other bit by bit. I wanted to remind you of the moments of adversity that we weathered, when we made trips to the vet with Pixie, when we made love on the terrace. I wanted to remind you of our love, the way it manifested, the way we wrote letters to each other, the way I wrote you songs and you wrote me stories, the way we chose to take class together, the way we wrote about each other. I remember these moments with clear and sharp clarity because I love them so much, and I love you so much. I know that I don't show it, I know you don't think I love you in the same way that you love me, and you've said as much, but when I sit next to you eating cheesecake in a Calcutta cafe, I know I do. <br>


Amor vincit omnia.
{% endblock %}
