{% extends 'base.html' %}
{% block 'content' %}
<h4> Welcome, batch of 2022 (Especially Tanish - remember 1. Nf6?)! Good luck, and may the force be with you. </h4>

<br>

<h4> {{initial_display|safe}} </h4>

<br>

<h6> This app was developed and owned by Barun Parruck (barun.parruck@alumni.ashoka.edu.in). Please report all problems as issues to github.com/barun511/cryptic-hunt-personal with the tag Sopaan2019</h6>

<h6> Series of riddles unrelated to Sopaan (all answers are people): </h6>
<h6> 1. Eminem - third year, but more of a director than a rapper. (8) </h6>
<h6> 2. Oh, a niche, we hear, is occupied by a certain HoR member. (5) </h6>
<h6> 3. Dan, outside of Ebay, can teach a really incredible foundation course (hopefully). (7). </h6>
        
{% endblock %}
