{% extends 'base.html' %}
{% block 'title' %}
History Dooby Doo
{% endblock %}
{% block 'content' %}
<div class="links">
<span class="link">
	<a href="/level/0">0</a>
</span>
{% with ''|center:userlevel as range %}
{% for i in range %}
<span class="link">
	<a href="/level/{{forloop.counter}}">{{forloop.counter}}</a>
</span>
{% endfor %}
{% endwith %}
</div>
<div class="level">
<b>{{level.level_title}}</b>
<p>
{{level.description|safe}}
</p>
<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Submit Answer</button>
</form>
</div>
<footer style="margin-top:15%">
This app was developed and is maintained by Barun Parruck (barun.parruck@alumni.ashoka.edu.in). Please report any issues to https://github.com/barun511/cryptic-hunt-personal, and leave a star if this helped you!
</footer>
{% endblock %}
