{% extends 'base.html' %}
{% block 'content' %}
<p>
    <h3> Basic Information </h3>
    Puzzle hunts, by their very nature, are <i> puzzling </i>. The levels therefore are never meant to be straight maps to the answer - and some clues, on first inspection, may be misleading. You have an infinite number of attempts to answer though - and are not penalized for incorrect answers, so don't hesitate when it comes to potential answers. 
</p>
<p>
    <h3> More Basic Information </h3>
    Spamming the portal is welcomed - unless you're brute forcing by alphabet or DDoSing, you should be good. All answers must be in lowercase, and spaces are not allowed in the answer. Sharing answers is also welcomed - as long as you're also sharing the account. We'll be monitoring times of submissions to make sure that multiple accounts from the same set of people don't make it to the top of the leaderboard together - if such an incident is declared, we'll disqualify <i> all </i> such accounts. 
</p>
<p>
    <h3> What about level 0? </h3>
    Oh right. What do you think of this image? (https://ibb.co/VSksqbK)
</p>
{% endblock %}
