{% extends 'base.html' %}
{% block 'content' %}
<p>
    <h3> Basic Information </h3>
    Cryptic hunts, by their very nature, are <i> cryptic </i>. The levels therefore are never meant to be straight maps to the answer - and some clues, on first inspection, may be misleading. You have an infinite number of attempts to answer though - and are not penalized for incorrect answers, so don't hesitate when it comes to potential answers. 
</p>
<p>
    <h3> More Basic Information </h3>
    Spamming the portal is welcomed - unless you're brute forcing by alphabet or DDoSing, you should be good. Sharing answers is also welcomed - as long as you're also sharing the account. We'll be monitoring times of submissions to make sure that multiple accounts from the same set of people don't make it to the top of the leaderboard together - if such an incident is declared, we'll disqualify <i> all </i> such accounts. 
</p>
<p>
    <h3> Hints </h3>
    For hints, complaints, or ways to express frustration, please visit the <a href="https://www.facebook.com/ashokahistorysoc/">History Society Page</a>. This doesn't need to be said I hope, but the decision of the quizmasters is binding and final.
</p>
<p>
    <h3> Prizes </h3>
    For prizes, please fill out your additional registration details - you must do this before finishing the hunt - or you will not receive a prize for your effort! <br>
    (If you've done this already, please do do it again, we weren't saving your details properly before 8)
</p>
<p>
    <h3> What about level 0? </h3>
    Oh right, level 0. Keep looking? ;) 
</p>
{% endblock %}
