{% extends 'base.html' %}
{% block 'content' %}
<p>
    <h3> Basic Information </h3>
    Each level requires you to decode a given string (the key to which lies in a problem that may utilize the answers to previous levels, or may stand independently). 
</p>
<p>
    <h3> More Basic Information </h3>
    If you run out of ideas - think about things a bit literally. Each answer is formatted either as a bitstring of 1s and 0s, or as a plaintext string. It should be clear what the format of a given answer is if you solve it - but we'll publish exact level-format mapping, if things get too confusing. (though if you're confused about the <i>format</i>, you're probably doing something wrong)
</p>
{% endblock %}
